@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <h2>Welcome to CRUDelicious</h2>
    </div>
    <div class="text-center d-flex justify-content-between">
        <ul class="d-flex justify-context-evenly">
            <li>Checkout come recent dishes!</li>
            <li><a href="/new">Add a Dish</a></li>
        </ul>
    </div>
    <div class="row">
        <p>Display Recent Dishes</p>
    </div>
</div>
