@{
    ViewData["Title"] = "New Dish";
}

@model Dish

<div id="container">
    <div class="link col-md-1">
        <p><a href="/">Home</a></p>
    </div>
    <div class="row">
        <h2>Item Name</h2>
    </div>
    <div id="row">
        <p>Add By:</p>
    </div>
    <hr>
    <div>
        <p>Description</p>
        <p>Calories</p>
        <p>Tastiness</p>
    </div>
    <div>
        <a href="delete" class="btn">Delete</a>
        <a href="/edit" class="btn">Edit</a>
    </div>
</div>